<%- include('partials/header') %>



<h1 class="heading">Welcome to World!!!!!</h1>
<br><br><br><br><br>
<div class="mydiv">
  <img src="css/car.gif" alt="Rotating car" width="300px" height="200px">
  <br><br>
  <a class="btn btn-light btn-sm button" href="/python" role="button">Click to take a Picture</a>
</div>








<%- include('partials/footer') %>
