<%- include('partials/header') %>


<pre>
 <div class="myDiv1">
 <h4>CAR DETAILS</h4>
 <p><%= data %></p>
 </div>
</pre>
<div class="image">
  <img src="css/my.jpg" alt="Image of the car" width="300px" height="200px">
</div>


<%- include('partials/footer') %>
